<!-- /admin-client/src/views/documentation.ejs -->

<h1>FAQs e Documentação</h1>
<ul>
    <li><strong>Como configurar as chaves da API?</strong>
        <p>Acesse a seção de Configurações e insira suas chaves de API na página de Pagamentos.</p>
    </li>
    <li><strong>Como adicionar motoristas?</strong>
        <p>Vá para a seção de Motoristas e clique em "Adicionar Motorista".</p>
    </li>
    <li><strong>Como configurar as tarifas?</strong>
        <p>Acesse a seção de Tarifas na página de Regiões e ajuste os valores conforme sua necessidade.</p>
    </li>
</ul>
