<!-- /super-admin/src/views/payments.ejs -->

<h1>Transações de Pagamento</h1>
<table class="payments-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Valor</th>
            <th>Método</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% payments.forEach(payment => { %>
            <tr>
                <td><%= payment.id %></td>
                <td><%= payment.amount %></td>
                <td><%= payment.method %></td>
                <td><%= payment.status %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
