<!-- /super-admin/src/views/ride_overview.ejs -->

<h1>Visão Geral das Corridas</h1>
<table class="rides-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Motorista</th>
            <th>Passageiro</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% rides.forEach(ride => { %>
            <tr>
                <td><%= ride.id %></td>
                <td><%= ride.driver %></td>
                <td><%= ride.passenger %></td>
                <td><%= ride.status %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
