/* /app-driver/assets/css/profile.css */

.profile {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.profile label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

.profile input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.profile button {
    background-color: #005599;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile button:hover {
    background-color: #003366;
}
